In [5]:
import mariadb
import pandas 
import matplotlib.pyplot as plt
import numpy as np

In [6]:
#connect to db
db = mariadb.connect(
    host = "127.0.0.1",
    port = 3306,
    user = "fsnap",
    password = "rosco",
    database = "data"
)

In [ ]:
#load a table into a DataFrame
def load_table_dataframe(table_name, conn):
    query = f"SELECT * FROM {table_name};"
    dataframe = pandas.read_sql(query, conn)
    return dataframe

#Load tables into a variable
department_df = load_table_dataframe("Department", db)
employee_df = load_table_dataframe("Employee", db)
students_df = load_table_dataframe("Students", db)
performance_df = load_table_dataframe("Performance", db)

#Display head to check
print("Department Info:")
print(department_df.head())

print("\nEmployee Information:")
print(employee_df.head())

print("\nStudent Council Info:")
print(students_df.head())

print("\nStudent Performance:")
print(performance_df.head())

/var/folders/g7/vq28k0zn3tl8zbf_zxqmkyvc0000gn/T/ipykernel_42982/2928840118.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pandas.read_sql(query, conn)

Department Info:
  Department_ID                                    Department_Name        DOE
0     IDEPT1096                               School of Management   3/7/2000
1     IDEPT1142  Centre for Aerospace Systems Design and Engine...  7/25/1966
2     IDEPT1367                               Computer Centre (CC)   4/5/2001
3     IDEPT1378                           Industrial Design Centre  2/16/1993
4     IDEPT1388                    Centre for Policy Studies (CPS)   1/5/1999

Employee Information:
  Employee_ID        DOB         DOJ Department_ID
0    IU112687  6/18/1982    9/3/2012     IDEPT5127
1    IU114595  8/20/1986  11/13/2001     IDEPT4055
2    IU114836  3/24/1985   9/23/2007     IDEPT2601
3    IU116135  1/10/1993   2/19/2002     IDEPT4055
4    IU116424  11/5/1975   4/22/2005     IDEPT1423

Student Council Info:
    Student_ID       DOA        DOB Department_Choices Department_Admission
0  SID20131143  7/1/2013   2/5/1996          IDEPT7783            IDEPT7783
1  SID20131151  7/1/2013  7/31/1995          IDEPT6347            IDEPT6347
2  SID20131171  7/1/2013   9/5/1995          IDEPT1836            IDEPT1836
3  SID20131176  7/1/2013  1/12/1996          IDEPT8473            IDEPT8473
4  SID20131177  7/1/2013  7/30/1995          IDEPT5528            IDEPT5528

Student Performance:
    Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
0  SID20131143        Sem_1  SEMI0012995    Paper 1     44             5
1  SID20131143        Sem_1  SEMI0014130    Paper 7     90            11
2  SID20131143        Sem_1  SEMI0015183    Paper 2     74             8
3  SID20131143        Sem_1  SEMI0015910    Paper 4     44             5
4  SID20131143        Sem_1  SEMI0016208    Paper 5     95            12